
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow: hidden;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: crisp-edges;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.play-button {
  font-size: 2rem;
  padding: 20px 40px;
  background-color: #0056b3;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
  position: absolute;
  bottom: 5%;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.play-button:hover {
  background-color: #144880;
}

.play-button a {
  color: white;
  text-decoration: none;
  display: block;
}



.boxMainPresentation{
  text-align: center;
    margin-top: 20px;
    padding: 25px;
    border-radius: 12px;
    max-width: 500px;
    background: linear-gradient(135deg, #001F3F 0%, #0056b3 100%);
    box-shadow: 0px 0px 20px rgba(0, 174, 255, 0.5);
    border: 2px solid rgba(0, 174, 255, 0.7);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

}

.boxMainPresentation:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 30px rgba(0, 174, 255, 0.8);
}

.boxMainPresentation:hover .logoAplicacion{
  filter: drop-shadow(0px 0px 10px #00eaff);
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out, filter 0.9s ease-in-out;

}