.awsBtn {
    --button-default-height: 44px;
    --button-default-font-size: 14px;
    --button-default-border-radius: 4px;
    --button-horizontal-padding: 16px;
    --button-raise-level: 4px;
    --transform-speed: 0.15s;
    --button-primary-color: #1e88e5;
    --button-primary-color-dark: #1360a4;
    --button-primary-color-light: #ffffff;
    --button-primary-color-hover: #187bd1;
    --button-primary-color-active: #166dba;
    --button-primary-border: none;
    --button-secondary-color: #f2f6f9;
    --button-secondary-color-dark: #1360a4;
    --button-secondary-color-light: #1e88e5;
    --button-secondary-color-hover: #e1eaf1;
    --button-secondary-color-active: #cfdee9;
    --button-secondary-border: 2px solid #1e88e5;
    --button-anchor-color: #0e4f88;
    --button-anchor-color-dark: #072743;
    --button-anchor-color-light: #ffffff;
    --button-anchor-color-hover: #0d4a7f;
    --button-anchor-color-active: #0c4271;
    --button-anchor-border: none;
    --button-danger-color: #c42e2e;
    --button-danger-color-dark: #861f1f;
    --button-danger-color-light: #ffffff;
    --button-danger-color-hover: #bc2c2c;
    --button-danger-color-active: #af2929;
    --button-danger-border: none;
}

.buttonActive {
    --button-secondary-color-active: green;
}

.buttonInactive {
    --button-secondary-color-active: red;
}

.fadeIn {
    opacity: 1;
    transition: opacity 0.4s ease-in;
  }
  
.fadeOut {
    opacity: 0;
    transition: opacity 5s ease-out;
}


/******************/

.containerLayout {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Mitad imagen, mitad contenido */
    height: 100vh;
    gap: 20px;
    padding: 0px; /* por si se quiere hacer mas chikito, aumentar padding */
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;


    /* PAra pruebas */
    border:#bc2c2c solid 1px;
}

.imageContainer img {
    width: 100%;
    height: auto;
    max-height: 100%;
    border-radius: 5px;
    object-fit: contain;
}

.contentContainer {
    display: grid;
    grid-template-rows: auto auto 0.5fr; /* Pregunta - Botones - Chatbot, poner todo en auto si quiero que se distribuyan las rows similar */
    gap: 30px; /* Más separación */
    align-items: center;
    justify-items: center;
    width: 100%;

    /* Para pruebas */
    border:#bc2c2c solid 1px;
}

.questionContainer {
    text-align: center;
    font-size: 1rem; /* Texto de la pregunta */
    font-weight: bold;
    padding: 15px;
    background: #f8f8f8;
    border-radius: 10px;
    width: 80%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

    /* Para pruebas */
    border:#312cbc solid 1px;
}

.optionsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 10px;
    width: 80%;

    /* Para pruebas */
    border:#312cbc solid 1px;
}


.additionalButton {
    width: 40%;

    /* Para pruebas */
    border:#312cbc solid 1px;
}