.boxContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /**/
  justify-content: center; /**/
  text-align: center; /**/
  padding: 2rem;
  background-color: #C4DBF6;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.4); /* Sombra en todos los lados */

  margin-top: 2rem;
}

.logoAplicacion{
  /*height: 60px;*/
  height: 80px;
  margin-bottom: 0.35rem;
  cursor: pointer;
}

.mainContent{
  background-color: #ebedf0;
  padding: 2rem;
  border-radius: 5px;
}



.divider {
  border-bottom: 1.5px solid #868686;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}