.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, #003580, #0056b3);
    padding: 12px 24px;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 174, 255, 0.4); /* Sombra azul futurista */
    border-bottom: 2px solid rgba(0, 174, 255, 0.6);
    z-index: 10;
    transition: all 0.3s ease-in-out;
}

.logo {
    height: 80px;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;

    margin-right: 2em;
}

.logo:hover {
    filter: drop-shadow(0px 0px 15px #00eaff);
    transform: scale(1.08);
}


.navGeneralLinks {
    display: flex;
    align-items: center;
    margin-right: auto; /* Empuja hacia el logo */
}

.navLink {
    position: relative;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    border-radius: 6px;
    background: transparent;
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.navLink::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background-color: #00eaff;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.navLink:hover::after {
    width: 100%;
    left: 0;
}

.navLink:hover {
    color: #00eaff;
    transform: scale(1.05);
}

.authLink {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid rgba(0, 174, 255, 0.6);
    background: linear-gradient(135deg, #003580, #0056b3);
    box-shadow: 0px 3px 8px rgba(0, 174, 255, 0.3);

    margin-left: 0.5em;
    font-weight: 800;
}

.authLink:hover {
    background: rgba(0, 174, 255, 0.4);
    border-color: #00eaff;
    transform: translateY(-2px);
}


.profileNavSection{
    padding-right: 2em;
}

.userAvatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.8);
    transition: box-shadow 0.3s ease-in-out;

    margin-left: 2em;
}

.userAvatar:hover {
    box-shadow: 0px 0px 10px rgba(0, 174, 255, 0.8);
}

.dropdownMenu {
    position: absolute;
    right: 0;
    background: #002244; /* Azul oscuro */
    box-shadow: 0px 4px 12px rgba(0, 174, 255, 0.3);
    border-radius: 6px;
    margin-top: 5px;
    min-width: 160px;
    z-index: 1000;
    border: 1px solid rgba(0, 174, 255, 0.6);

    margin-right: 0.3em;
}

.dropdownItem {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    /*text-align: left;*/
    text-align: center;
    font-size: 14px;
    background: none;
    border: none;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.dropdownItem:hover {
    background: rgba(0, 174, 255, 0.2);
}

.logoutButton{
    color: #df526e;
}

.navSeparator{
    width: 0.1em;
    height: 2.2em;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 10px;

    margin-right: 1.3em;
}