.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, #003580, #0056b3);
    padding: 12px 24px;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 174, 255, 0.4); /* Sombra azul futurista */
    border-bottom: 2px solid rgba(0, 174, 255, 0.6);
    z-index: 10;
    transition: all 0.3s ease-in-out;
}

.logo {
    height: 80px;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.logo:hover {
    filter: drop-shadow(0px 0px 15px #00eaff);
    transform: scale(1.08);
}

.userAvatar {
    height: 47px;
    width: 47px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.8);
    transition: box-shadow 0.3s ease-in-out;
}

.userAvatar:hover {
    box-shadow: 0px 0px 10px rgba(0, 174, 255, 0.8);
}

.dropdownMenu {
    position: absolute;
    right: 0;
    background: #002244; /* Azul oscuro */
    box-shadow: 0px 4px 12px rgba(0, 174, 255, 0.3);
    border-radius: 6px;
    margin-top: 5px;
    min-width: 160px;
    z-index: 1000;
    border: 1px solid rgba(0, 174, 255, 0.6);
}

.dropdownItem {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    /*text-align: left;*/
    text-align: center;
    font-size: 14px;
    background: none;
    border: none;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.dropdownItem:hover {
    background: rgba(0, 174, 255, 0.2);
}

.logoutButton{
    color: #df526e;
}



.authLink {
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    border-radius: 6px;
    background: rgba(0, 174, 255, 0.2);
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.authLink:hover {
    background: rgba(0, 174, 255, 0.4);
    transform: scale(1.05);
}
