/* Estilos del modal */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 99.5%;
    height: 100%;
    background-color: rgba(169, 169, 169, 0.3); /* Fondo más discreto con gris suave */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: #e3f1fd; /* Gris suave para el fondo del modal */
    padding: 20px;
    width: 60%; /* Un poco más estrecho */
    min-width: 350px;
    max-width: 800px;
    border-radius: 10px;
    border: 6px solid #000000; /* Borde negro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    height: auto;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden; /* Para ocultar cualquier desbordamiento horizontal */

    /* Estilos personalizados para el scrollbar */
    scrollbar-width: thin; /* Para Firefox */
    scrollbar-color: #4f93d7 #e3f1fd; /* Color del scrollbar */
}

/* Para navegadores basados en WebKit (Chrome, Safari, Edge) */
.modalContent::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
}

.questionList {
    list-style-type: none;
    padding: 0;
    color: #000000; /* Letra negra */
}

.questionItem {
    margin-bottom: 20px;
    color: #000000; /* Letra negra */
}

.answerList {
    list-style-type: none;
    padding: 0;
}

.answerItem {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f4ebcb; /* Fondo de respuesta actualizado */
    border: 2px solid transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    color: #000000; /* Letra negra */
}

.answerItem:hover {
    background-color: #D88D3C; /* Caramelo suave al pasar el cursor */
    border-color: #9B6A3B; /* Borde canela */
}

.closeButton {
    background-color: #B0B0B0; /* Gris para el botón */
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.closeButton:hover {
    background-color: #A0A0A0; /* Gris más oscuro al pasar el cursor */
}
