.timer-container {
    position: absolute;
    top: 34%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.timer-svg {
    transform: rotate(-90deg);
}

.timer-background {
    fill: none;
    stroke: #ccc;
    stroke-width: 4;
}

.timer-mark {
    stroke: black;
    stroke-width: 2;
}

.timer-mark-quarter {
    stroke-width: 4;
}

.timer-circle {
    fill: none;
    stroke: red;
    stroke-width: 6;
    stroke-linecap: round;
    transition: stroke-dashoffset 1s linear;
}

.timer-text {
    fill: black;
    font-size: 18px;
    font-weight: bold;
}