.mainContainer {
  margin: 0 auto;
  padding: 1rem;
  width: 800px;
  /*border: 1px solid #333;*/
  border-radius: 8px;
  margin: 2rem auto;
  
  background-color:#C4DBF6;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.4); /* Sombra en todos los lados */
}

.mainContainer > *:not(:last-child) {
  border-bottom: 1.5px solid #868686;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.sectionTitle {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.statisticsContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
  background-color:#ebedf0;
  /*background-color:#E7E3D4;*/
  padding: 10px;
  border: 1px solid #333;
  border-radius: 8px;
}

.scItem1 {
  grid-column: 1;
  grid-row: 1;
  text-align: left;
}

.scItem2 {
  grid-column: 2;
  grid-row: 1;
  text-align: right;
}

.scItem3 {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
}

.chartContainer {
  grid-column: 1;
}

.answersContainer {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.scItem4 {
  grid-column: 2;
  grid-row: 2;
  text-align: left;
  align-self: center;
}

.gamesHistoryContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}



.pagination{
  /*background-color: #ebedf0;*/
  background-color: #ebedf000;
  justify-content: center;

}